<a href="https://colab.research.google.com/github/SamanthaNoelleDaluz/LinearAlgebra_2ndSem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Phython Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variable and Data Types
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

The first thing to know about coding in Python is that it involves variable and date types.  A variable is a container for a value. It can be assigned a name; you can use it to refer to it later in the program. A data type, on the other hand, is like a class/category where the value assigned belongs to. As seen in this activity, these may involve the use of integer (int), string (str), float, etc.

In [ ]:
s = 3
a,m = 5, 1
s,a,m

(3, 5, 1)

In [ ]:
type(x)

str

In [ ]:
y = 1.0
type(y)

float

In [ ]:
x = float (x)
type (x)

float

In [ ]:
s,a,m = "3", '5', 'one'
type(s)

str

In [ ]:
s_int = int(s)
s_int

3

## Operations

### Arithmetic

Based on the results of this function, it is used to perform Mathematical operations such as addition, subtraction, multiplication, and division on numerical values.

In [ ]:
k,u,r,b = 1,2,3,4

In [ ]:
### Addition
S = k + b
S

5

In [ ]:
### Subtraction
P = u - r
P

-1

In [ ]:
### Multiplication
O = r*u
O

6

In [ ]:
### Division
Y = b/u
Y

2.0

In [ ]:
### Floor Division
Fg = k//u
Fg

0

In [ ]:
### Exponential
Lk = r**b
Lk

81

In [ ]:
### Modulo
mod = b%k
mod

0

### Assignment Operations

As seen in the activity, operators are used to perform operations on values and variables and to assign values to variables. Values were, first, assigned to a variable. Then, using compound operators, Python will use that operator to get the equivalent answer using the given operands.

In [ ]:
G, H, J, K = 0, 100, 2, 2

In [ ]:
G += K
G

2

In [ ]:
H -= u
H

98

In [ ]:
J *= 8
J

16

In [ ]:
K **= 3
K

8

###Comparators

This function is used to compare the true value or the value set and the value that was entered based on the operators used.

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_3 == true_val

False

In [ ]:
## Non-equality
res_2 != true_val

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t4

True

# Logical

Logical operators in Python are used for conditional statements which are true and false. Specifically, it uses AND, OR and NOT as operators that each follows a certain condition. The AND operator returns TRUE if both the operands are true, the OR operator returns TRUE if either of the operand is true, while the NOT operator returns TRUE if operand is false.

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

In [ ]:
p, q = True, False
conj = p and q
conj

False

In [ ]:
p,q = True, False
disj = p or q
disj

True

In [ ]:
p,q = True, False
nand = not(p and q)
nand

True

In [ ]:
p,q = True, False
xor = (not p and q) or (p and not q)
xor

True

### I/O

Input function is use to enter data at run time while the output is used to display the result. In this function the command print is used to display the phrase that was entered.

In [ ]:
print("Hello World")

Hello World

In [ ]:
cnt = 1

In [ ]:
string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt += 2

Hello World , Current run count is: 1

In [ ]:
print(f"{string}, Current count is: {cnt}")

Hello World, Current count is: 3

In [ ]:
sem_grade = 82.243564567461234
name = "Sam"
print("Hello {}, your semestral grade is : {}".format(name, sem_grade))

Hello Sam, your semestral grade is : 82.24356456746123

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [ ]:
x = input("enter a number: ")
x

enter a number: 13

'13'

In [ ]:
name = input("Kimi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Kimi no nawa: Sam
Enter prelim grade: 90
Enter midterm grade: 98
Enter finals grade: 97
Hello Sam, your semestral grade is: None

# Looping Statements

## While

While loop is used to execute a set of statements as long as a condition is true. First, it requires relevant variables to be ready. In this activity, the indexing variable, i, is set to 1 and the condition is set to stop if i becomes less than or greater than 10, thus, the program will keep on printing until it satisfies the condition.

In [ ]:
## while loops
i, j = 0, 10
while(i<=j):
  print(f"{i}\t|\t{j}")
  i+=1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

## For

The "for" function is used to repeat a block of code entered in a fixed number of times. The block of code entered can be increased by using the command ++ or decreased --.

In [ ]:
# for (int i=0; i<10, i++){
#    printf(i)
#}
i=0
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
playlist = ["Easy on Me","In my Mind","Love Nwantiti"]
print('Now Playing:\n')
for song in playlist:
  print(song)

Now Playing:

Easy on Me
In my Mind
Love Nwantiti

# Flow Control

## Conditional Statements

Conditional Statements are used as a Decision-making program in Python. It uses conditional statements such as If, elif, else, and many more in which the code would be evaluated if it meets the specified conditions. The conditions should be answerable with YES or NO only.

In [ ]:
numeral1, numeral2 = 12, 11
if(numeral1 == numeral2):
  print("Woof")
elif(numeral1>numeral2):
  print("Meow")
else:
    print("Awoo")

Meow

## Functions

The function is used to return a value using a return a value using a return statement. After a function is defined, the return statement will determine the value to be returned.

In [ ]:
# void DeleteUser(int userid){
# delete(userid);    
#}

def delete_user (userid):
  print("Successfully deleted user: {}".format(userid))
def delete_all_users():
  print("All users are deleted")

In [ ]:
userid = "Sam"
delete_user("Sam")
delete_all_users()

Successfully deleted user: Sam
All users are deleted

In [ ]:
def add(addend1, addend2):
    return addend1 + addend2

def power_of_base2(exponent):
    return 2**exponent

In [ ]:
addend1, addend2 = 24, 25
add(addend1, addend2)

exponent = 8
power_of_base2 (exponent)

256

# Activity 1

In this activity, we are tasked to generate a calculator that can compute the semestral grade using the inputted value of the prelim, midterm, and final grade. At the same time, it should display the inputted name and course. This code was executed by assigning variables and by using functions float, print, and input, operators, and conditional statements.

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
name = input("Enter your name: ")
course = input("Enter your course: ")
pg = float(input("Enter prelim grade: "))
mg = float(input("Enter midterm grade: "))
fg = float(input("Enter finals grade: "))
sem_grade = (pg*w_pg)+(mg*w_mg)+(fg*w_fg)
if(sem_grade > 70.00):
      print("Hello {} from {}, your semestral grade is: {} \U0001F600".format(name, course, round(sem_grade, 2)))
elif(sem_grade == 70.00):
      print("Hello {} from {}, your semestral grade is: {} \U0001F606".format(name, course, round(sem_grade, 2)))
else:
      print("Hello {} from {}, your semestral grade is: {} \U0001F62D".format(name, course, round(sem_grade, 2)))

Enter your name: Samantha
Enter your course: BS Chem
Enter prelim grade: 90
Enter midterm grade: 98
Enter finals grade: 97
Hello Samantha from BS Chem, your semestral grade is: 95.2 ðŸ˜€